h1  {
  text-align: center;
}

.card img {
  width: 250px;
  align-self: center;
  margin-top: 20px;
}

.card-body {
  margin-top:: auto;
}

#secret-sloth {
  display: none;
}
#secret-lemur {
  display: none;
}
#secret-simpona{
  display: none;
}
